<ion-header>
  <ion-navbar>
    <ion-title>
      Currency Exchange App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  <div padding>
    <ion-segment [(ngModel)]="from">
      <ion-segment-button value="costCalculator">
        Cost Calculator
      </ion-segment-button>
      <ion-segment-button value="moneyTracker">
        Money Tracker
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="from">
    <ion-list *ngSwitchCase="'costCalculator'">
-->
      <ion-item>
        <ion-label>Convert From</ion-label>
        <ion-select [(ngModel)]="fromType">
          <div *ngFor="let ct of currencyType">
            <ion-option value="{{ct}}">{{ct}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Convert To</ion-label>
        <ion-select [(ngModel)]="toType">
          <div *ngFor="let ct of currencyType">
            <ion-option value="{{ct}}">{{ct}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input [(ngModel)]="amount" name="amount" type="number">
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button (click)="onCalculatorSubmit()" type="submit" block>CALCULATE COST</button>
      </div>

  <div id="convertedCost"></div>

  <!--
    </ion-list>
    <ion-list *ngSwitchCase="'moneyTracker'">

      <div padding>
        <button ion-button (click)="onClubSubmit()" type="submit" block>SUBMIT</button>
      </div>
    </ion-list>
  </div>
 -->
</ion-content>



