<ion-header>
  <ion-navbar>
    <ion-title>
      Currency Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
  <div padding>
    <ion-segment [(ngModel)]="from">
      <ion-segment-button value="costCalculator">
        Cost Calculator
      </ion-segment-button>
      <ion-segment-button value="moneyTracker">
        Money Tracker
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="from">
    <ion-list *ngSwitchCase="'costCalculator'">
-->
      <ion-item>
        <ion-label>Convert From</ion-label>
        <ion-select [(ngModel)]="fromType">
          <div *ngFor="let ct of currencyType">
            <ion-option value="{{ct}}">{{ct}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Convert To</ion-label>
        <ion-select [(ngModel)]="toType">
          <div *ngFor="let ct of currencyType">
            <ion-option value="{{ct}}">{{ct}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input [(ngModel)]="amount" name="amount" type="number">
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button (click)="onCalculatorSubmit()" type="submit" block>CALCULATE COST</button>
      </div>

  <div id="convertedCost"></div>

  <!--
    </ion-list>


    <ion-list *ngSwitchCase="'moneyTracker'">

      <button ion-button (click)="startNewTracker()" type="submit" block>START NEW TRACKER</button>

      <div padding>

          <ion-item>
            <ion-label>Add Money</ion-label>
            <ion-select [(ngModel)]="addType">
              <div *ngFor="let ct of currencyType">
                <ion-option value="{{ct}}">{{ct}}
                </ion-option>
              </div>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Amount</ion-label>
            <ion-input [(ngModel)]="addAmount" name="amount" type="number">
            </ion-input>
          </ion-item>

          <button ion-button (click)="addMoney()" type="submit" block>ADD</button>

          <ion-item>
            <ion-label>Use Money</ion-label>
            <ion-select [(ngModel)]="useType">
              <div *ngFor="let ct of currencyType">
                <ion-option value="{{ct}}">{{ct}}
                </ion-option>
              </div>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Amount</ion-label>
            <ion-input [(ngModel)]="useAmount" name="amount" type="number">
            </ion-input>
          </ion-item>

          <button ion-button (click)="useMoney()" type="submit" block>SPEND</button>

          <div id="wallet"></div>
      </div>
    </ion-list>

  </div>
  -->
</ion-content>



